body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

.options {
    margin-top: 20px;
}

.quiz {
    margin-top: 20px;
}

.score {
    margin-top: 20px;
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

button {
    margin-left: 10px;
}

button#hint {
    background-color: lightgray;
}

button#hint:disabled {
    background-color: gray;
}

.rounded-box {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.centered-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
}